<li class="task" >
    {{#if this.completed}}
        <a class="task-title done" href="/tasks/{{this.id}}">{{this.title}}</a>
    {{else}}
        <a class="task-title" href="/tasks/{{this.id}}">{{this.title}}</a>
    {{/if}}
    <div class="task-buttons">
        <!--toggle-->
        <form action="/tasks/toggle" method="post">
            <input type="hidden" name="id" id="id" value="{{this.id}}" />
            <input type="hidden" name="completed" id="completed" value="{{this.completed}}" />
            <button class="action-button" id="toggle-task-button" type="submit"><i class="bi bi-check2"></i></button>
        </form>
        <!--update-->
        <a href="/tasks/edit/{{this.id}}"><i class="bi bi-pencil-square"></i></a>
        <!--delete-->
        <form action="/tasks/delete" method="post">
            <input type="hidden" name="id" id="id" value="{{this.id}}" />
            <button class="action-button" id="delete-task-button" type="submit"><i class="bi bi-x-lg"></i></button>
        </form>
    </div>
</li>